body {
  margin: 0;

  color: white;

}

.app {
  height: 100vh;
  display: flex;
  background-color: #020230;
}

.main {
  display: flex;
  flex-direction: column;
  width: 75%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230), url("C:\\Users\\Bilgisayar Dünyası\\Desktop\\FE\\React\\soru-cevap\\soru-cevap\\public\\assets\\bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top {
  height: 50%;
  position: relative;
}

.timer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border:5px solid white;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 80px;
}

.bottom {
  height: 50%;
}

.trivia{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question{
  background:linear-gradient(#100241,black);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  width: 80%;
  background-color: black;
  border: 2px solid white;
  font-size: 20px;

}

.answers{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.answer{
  width: 40%;
  padding: 10px;
  text-align: center;
  background:linear-gradient(#0E0124,#22074d);
  border-radius: 15px;
  border: 1px solid white;
  font-size: 20px;
  font-weight: 300;
  margin: 0 10px 20px 10px;
  cursor: pointer;
}

.answer:hover,
.answer.active
{
  background: rgb(69, 69, 235);
}

.answer.correct{
  animation: correct 5s ease forwards;
}

@keyframes correct{
  0%,
  22%,
  42%{
    background: mediumblue;
  }
   20%,
   40%,
   60% {
    background:linear-gradient(#0E0124,#22074d);
  }
  62%,100%{
      background: green;
  }
}

.answer.wrong{
  animation: wrong 5s ease forwards;
}

@keyframes wrong{
  0%,
  22%,
  42%{
    background: mediumblue;
  }
   20%,
   40%,
   60% {
    background:linear-gradient(#0E0124,#22074d);
  }
  62%,100%{
      background: rgb(199, 21, 21);
  }
}


.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;

}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px
}

.moneyListItem.active {
  background-color: teal;
}

.moneyListItemNumber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;

}

.moneyListamount {
  font-size: 20px;
  font-weight: 300;
}